.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -40px;
}
.swiper {
  position: static;
  margin-inline: 80px;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  height: 50px;
  width: 50px;
  top: 30px;
  color: black;
  border-radius: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px;
  color: black;
}
