---
import bgWeather from "../images/bg-weather.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/svg+xml" href="/logo.svg" />

    <title>Weather - Accurate Weather Forecasts</title>
    <link rel="stylesheet" href="/style/global.css" />
    <meta
      name="description"
      content="Get accurate and up-to-date weather forecasts for any location. See hourly and weekly updates with detailed weather conditions."
    />
    <meta
      name="keywords"
      content="weather, weather forecast, accurate weather, hourly updates, weekly forecast"
    />
    <meta name="author" content="Your Name or Brand" />
    <meta property="og:title" content="Weather - Accurate Weather Forecasts" />
    <meta
      property="og:description"
      content="Get accurate and up-to-date weather forecasts for any location. See hourly and weekly updates with detailed weather conditions."
    />
    <meta property="og:image" content="/images/weather-preview.png" />
    <meta property="og:url" content="https://weathers-uz.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Weather - Accurate Weather Forecasts" />
    <meta
      name="twitter:description"
      content="Get accurate and up-to-date weather forecasts for any location. See hourly and weekly updates with detailed weather conditions."
    />
    <meta name="twitter:image" content="/images/weather-preview.png" />
    <meta name="generator" content="Astro 2.0" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Weather - Accurate Weather Forecasts",
        "description": "Get accurate and up-to-date weather forecasts for any location. See hourly and weekly updates with detailed weather conditions.",
        "url": "https://weathers-uz.vercel.app/"
      }
    </script>
  </head>
  <body
    style={`background-image: url(${bgWeather.src}); background-size: cover; background-repeat: no-repeat;`}
  >
    <slot />
  </body>
</html>
