---
import bgWeather from "../images/bg-weather.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Weather</title>
  </head>
  <body
    style={`background-image: url(${bgWeather.src}); background-size: cover; backround-repeat: no-repeat; overflow: hidden;`}
  >
    <slot />
  </body>
</html>
